.custom-rt-toast {
  color: black;
  padding-left: var(--space-sm);
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  border: 1px solid var(--border);
  background-color: white;
  box-shadow: none;
}

.custom-rt-progressbar {
  background: black;
}
